<div class="logo">
<img src="{{@blog.logo}}"/>
</div>
<h5>{{@blog.title}}</h5>
<hr>
<ul class="list-unstyled menu">
    <li>
        <a href="https://github.com/tempKDW" target="_blank">
         <i class="el el-github"></i> GitHub
        </a>
    </li>
    <li>
        <a href="https://facebook.com/tempkdw" target="_blank">
            <i class="el el-facebook"></i> @tempKDW
        </a>
    </li>
</ul>
